body {
    background-color: #8BA1BB;
    font-family: Arial;
}

p.categorie{
  background-color: black;
  color: white;
  display:inline;
 
  margin-top :20px;
  padding:12px 20px;

  font-size: 20px;
  font-weight: bold;
}
.contenu{
    background-color:white;
   
    margin: 0px 10% 200px 10%;
    padding:30px;


    box-shadow: 0px 0px 10px 8px #252420 ;

  
}
img.info{
    display: block;
    max-height: 400px;
    min-height: 200px;
    object-fit: cover;
}
h1 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 7px;

    margin-top: 7px;
  
}
p.description {
    text-align:center;
    max-width: 400px;
    display: inline-block;
    font-size:0.5cm;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.centre {
    text-align: center;
    width:100%;
}
div.description {
  text-align:center;
  /*background-color: aqua;*/
}
div.entete{
    text-align: center;
  margin-top: 5cm;
}
div.categorie{
    margin-bottom: -15px;
    margin-top:40px;
}

.separateur {
    height: 1px;
    width: 100px;
    background-color: black;

    margin-left:auto;
    margin-right: auto;
  
}
 img {        
    width: 100%;
} 
table.info {
  position:absolute; 
  bottom:0; 
  width: 100%; color : white; 
  background-color: #6C829DC0;
   height: 80px; 
   text-align: center;
}

div.colonne {
    width: 45%;}
div.colonne1{
    /*background-color:aquamarine;*/
    display:inline-block;
    margin-right: 10%;
   
}

div.colonne h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    border-bottom  : 10px solid #6C829D ;
    padding-bottom: 5px;
    font-size: bold;

}

div.colonne2{
  
    float:right;
   
 
}

div.ingredient p {
   
    font-size: 14px;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 4px;
    border : 1px solid #6C829D ;

    padding: 10px 0;

}

table.preparation p.numero {
  
    background-color:#6C829D ;
    color: white;
    width: 25px; height: 25px;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    padding-top:4px;
    box-sizing: border-box;
    border-radius: 50% ;
    margin: 5px;
}

table.preparation td {
    vertical-align: top;
}

table.preparation td.etape {

    font-size: 17px;
    padding-left: 10px;
    padding-bottom: 4px ;
}

table.preparation tr {
   min-height: 30px;
}


* {overflow: auto;}


body {

}

